/*-------------------------------------------------------------------
	파일이름 : Variables
	분류순서 : @Colors, @Sizes

	파일이름 : Nixin
	분류순서 : @Texts, @Responsives

	변수규칙 : 반복-구분-단위 (상세규칙은 작업자가 판단)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@Color (Brand, State, Items, Grayscale)
-------------------------------------------------------------------*/
// Brand
$color-primary: none;
$c-primary: #111;
// Gray scale
$c-gr-scalefff: #ffffff;
$c-gr-scale50: #f5f5f5;
$c-gr-scale100: #eeeeee;
$c-gr-scale200: #dedede;
$c-gr-scale300: #cccccc;
$c-gr-scale400: #bbbbbb;
$c-gr-scale000: #000000;
$c-gr-scale900: #111111;
$c-gr-scale800: #333333;
$c-gr-scale700: #444444;
$c-gr-scale600: #666666;
$c-gr-scale500: #999999;
// Label color
// 국가 ∙ 도시 디자인
$c-label00: #e3f5e7;
// 디자인 정책 ∙ 전략
$c-label01: #f9e4cb;
// 산업 ∙ 기술
$c-label02: #e2e6fd;
// 아이덴티티
$c-label03: #f9e9fb;
// 조형 ∙ 미학
$c-label04: #e5fad0;
// 창조성 ∙ 디자인 기획
$c-label05: #f2e7fe;
// 혁신 ∙ Good Design
$c-label06: #d6f5f3;
// 문화 ∙ 한국성
$c-label07: #fcf2d1;
// 모빌리티
$c-label08: #f1f8c6;
// 디자인 미래 ∙ 예측
$c-label09: #dfecf6;
// 지역 ∙ 사회 ∙ 환경 ∙ 지속가능
$c-label10: #ffe5e5;
// 예술 ∙ 디자인 일반
$c-label11: #e6e9f1;

/*-------------------------------------------------------------------
	@Size (System, Layout, Components)
-------------------------------------------------------------------*/
// Layout
$body-width: 1200px;
$body-gap: 20px;
$appbar-height: 60px;
$header-padding: clamp(1.25rem, 2vw, 2.5rem);
/*-------------------------------------------------------------------
	@Text (Fontset,
-------------------------------------------------------------------*/

// pc
@mixin head-01 {
  font-size: 4rem;
  line-height: 4.5rem;
}
@mixin head-02 {
  font-size: 2.625rem;
  line-height: 3.125rem;
}
@mixin head-03 {
  font-size: 2.125rem;
  line-height: 2.625rem;
}
@mixin sub-title-01 {
  font-size: 2rem;
  line-height: 2.5rem;
}
@mixin sub-title-02 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@mixin body-01 {
  font-size: 1.5rem;
  line-height: 2.125rem;
}
@mixin body-02 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
@mixin body-03 {
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin caption-01 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
// Fonts
@mixin font-body-10 {
  font-size: 10rem;
  line-height: 16rem;
}
@mixin font-body-12 {
  font-size: 12rem;
  line-height: 18rem;
}
@mixin font-body-13 {
  font-size: 13rem;
  line-height: 19rem;
}
@mixin font-body-14 {
  font-size: 14rem;
  line-height: 22rem;
}
@mixin font-body-15 {
  font-size: 15rem;
  line-height: 23rem;
}
@mixin font-body-16 {
  font-size: 16rem;
  line-height: 24rem;
}
@mixin font-title-10 {
  font-size: 10rem;
  line-height: 16rem;
  font-weight: 700;
}
@mixin font-title-13 {
  font-size: 13rem;
  line-height: 17rem;
  font-weight: 700;
}
@mixin font-title-14 {
  font-size: 14rem;
  line-height: 18rem;
  font-weight: 700;
}
@mixin font-title-15 {
  font-size: 15rem;
  line-height: 19rem;
  font-weight: 700;
}
@mixin font-title-16 {
  font-size: 16rem;
  line-height: 20rem;
  font-weight: 700;
}
@mixin font-title-18 {
  font-size: 18rem;
  line-height: 24rem;
  font-weight: 700;
}
@mixin font-title-20 {
  font-size: 20rem;
  line-height: 26rem;
  font-weight: 700;
}
@mixin font-title-22 {
  font-size: 22rem;
  line-height: 28rem;
  font-weight: 700;
}

// Word
@mixin ellipsis-1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@mixin ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@mixin ellipsis-4 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/*-------------------------------------------------------------------
	@Font reponsive | html font-size: 16px인 전제하
-------------------------------------------------------------------*/
//  @px to rem
@mixin to_rem($property, $value) {
  #{$property}: ($value / 16) + rem;
}
// @include to_rem(font-size, 30) -> font-size: 1.5rem;

@mixin to_vw($value, $target-width) {
  font-size: calc((#{$value} * 100vw) / #{$target-width});
}
// @include dynamic-font-size(1vw, 1200px);

/*-------------------------------------------------------------------
	@Img reponsive | img ratio
-------------------------------------------------------------------*/
@function img-ratio($img-height, $img-width) {
  @return ($img-height / $img-width) * 100%;
}
@mixin img-parent {
  position: relative;
  width: 100%;
  height: 0;
  // padding-bottom: include;
  overflow: hidden;
}
@mixin img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------------------------------------------------
	@Responsive
	- Device : Basic (Extra Large ~ Mini)
	- PC : 1920 ~ 1280 (1920 ~ 1601 / 1600 ~ 1280)
	- TA : 1279 ~  768 (1279 ~ 1025 / 1024 ~  768)
	- MO :  767 ~  320 ( 767 ~  421 /  420 ~  320)
	- 기준디바이스 : iPad Mini (768/1024), iPadPro (1024/1366)
-------------------------------------------------------------------*/
// Custom Responsive
@mixin media-min($width) {
  @media (min-width: $width) {
    @content;
  }
}
@mixin media-max($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Basic Responsive
@mixin pc() {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin tablet() {
  @media (max-width: 1279px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin portrait() {
  @media (orientation: Portrait) {
    @content;
  }
}
@mixin landscape() {
  @media (orientation: Landscape) {
    @content;
  }
}

// Target Responsive
@mixin pc_xl() {
  @media (min-width: 1600px) {
    @content;
  }
}
@mixin pc_xs() {
  @media (min-width: 1280px) and (max-width: 1599px) {
    @content;
  }
}
@mixin tablet_xl() {
  @media (min-width: 1024px) and (max-width: 1279px) {
    @content;
  }
}
@mixin tablet_xs() {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}
@mixin mobile_xl() {
  @media (min-width: 421px) and (max-width: 767px) {
    @content;
  }
}
@mixin mobile_xs() {
  @media (max-width: 420px) {
    @content;
  }
}

/* iPhone X 이상의 모바일 기기에 대한 Safe Area 고려 */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* 여기에 해당하는 CSS 추가 */
  body {
    padding-top: constant(safe-area-inset-top); /* iOS 11.2+ */
    padding-top: env(safe-area-inset-top); /* iOS 11.2+ */
    padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.2+ */
    padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2+ */
  }
}
