/*-------------------------------------------------------------------
    @Default
/*-----------------------------------------------------------------*/
// Checkbox, Radio
.radio,
.switch,
.checkbox {
  position: relative;
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  > input {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0 !important;
    outline: none;
  }
  > label {
    position: relative;
    display: block;
  }
  > label::before,
  > label::after {
    content: "";
    display: block;
    position: absolute;
  }
}
/*-------------------------------------------------------------------
    @모달
/*-----------------------------------------------------------------*/
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 11;
  .modal-window {
    // min-width: 20rem;
    // max-width: 35rem;
    border: 1px solid #111;
    background-color: #fff;
    padding: clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 2vw, 2rem);
    box-shadow: 0px 0px 20px 0px #00000014;

    .tit-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      .tit {
        @include sub-title-01;
        font-weight: 400;
        flex: 1;
      }
    }
  }
  &#contact {
    .modal-window {
      @include mobile() {
        max-width: 320px;
      }
      width: 100%;
      min-width: 320px;
      max-width: 480px;
      .content {
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }

  &#search {
    .modal-window {
      @include pc() {
        max-width: clamp(20rem, 2vw, 43.75rem);
      }
      @include tablet() {
        max-width: clamp(43.75rem, 2vw, 50rem);
      }
      width: 100%;
      // min-width: 320px;
      // max-width: 1240px;
    }
  }
}

/*-------------------------------------------------------------------
    @토글 메뉴
/*-----------------------------------------------------------------*/
.menus {
  ul {
    li {
      ul.menu-inner {
        display: none;
      }
      &.active {
        ul.menu-inner {
          display: block;
        }
      }
    }
  }
}
/*-------------------------------------------------------------------
    @공통 class
/*-----------------------------------------------------------------*/
h2 {
  &.tit {
    @include head-02;
    font-weight: 400;
    color: #111;
  }
}
/*-------------------------------------------------------------------
    @Icon
/*-----------------------------------------------------------------*/
@mixin icon-bg($name) {
  background: url("/assets/img/#{$name}.png");
  background-size: cover;
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  &.arrow-top {
    @include icon-bg(icon-arrowtop);
  }
  &.arrow-right {
    @include icon-bg(icon-arrowright);
  }
  &.arrow-right-w {
    @include icon-bg(icon-w-arrowright);
  }
  &.check {
    @include icon-bg(icon-check);
  }
  &.search {
    @include icon-bg(icon-search);
  }
  &.cross {
    @include icon-bg(icon-cross);
  }
  &.cross-38 {
    @include icon-bg(icon-cross-38);
  }
  &.menu {
    @include icon-bg(icon-menu);
  }
  &.mail-w {
    @include icon-bg(icon-w-mail);
  }
  &.passive {
    @include icon-bg(icon-passive);
  }
  &.active {
    @include icon-bg(icon-active);
  }
  &.download {
    @include icon-bg(icon-download);
  }
  &.link {
    @include icon-bg(icon-link);
  }
  &.arrow-double-left {
    @include icon-bg(icon-arrowDoubleLeft);
  }
  &.arrow-double-right {
    @include icon-bg(icon-arrowDoubleRight);
  }
  &.prev {
    @include icon-bg(icon-prev);
  }
  &.next {
    @include icon-bg(icon-next);
  }
}
/*-------------------------------------------------------------------
    @common - Button | border(default)/fill/has icon
/*-----------------------------------------------------------------*/
$p-12-0: 0.75rem;
$p-14-0: 0.875rem;
// btn - border(default)
.p-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: auto;
  padding: clamp(0.75rem, 2vw, 0.875rem) 1.25rem;
  border: 1px solid #111;
  box-sizing: border-box;
  font-family: "Wanted Sans";
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 700;
  color: #111;
  &:hover {
    background: #f5f5f5;
  }
  &:disabled {
    border-color: #bbb;
    color: #bbb;
    &:hover {
      background: none;
      color: #bbb;
    }
    .icon {
      filter: invert(75%);
    }
  }

  // btn - fill
  &.fill {
    border: none;
    background: #111;
    color: #fff;
    &:hover {
      background: #444;
    }
    &:disabled {
      background: #bbb;
      color: #fff;
    }
  }

  // btn - has icon
  &.has-icon {
    &:hover {
      background: #111;
      color: #fff;
      .icon {
        filter: invert(100%);
      }
    }
    &:disabled {
      border-color: #bbb;
      color: #bbb;
      &:hover {
        background: none;
        color: #bbb;
      }
      .icon {
        filter: invert(75%);
      }
    }
  }
}

// btn - circle(Fab) | 최상단 버튼, email
.p-btn-cir {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #111;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(1px);
  &.top {
    background: #ffffff99;
    box-shadow: 0px 4px 4px 0px #0000001f;
  }
  &.mail {
    @include mobile() {
      display: block;
    }
    display: none;
    background: rgba(17, 17, 17, 0.6);
    box-shadow: 0px 4px 4px 0px #00000024;
  }
}
.scroll-btns {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  .p-btn-cir {
    &.top {
      display: none;
    }
  }
}
// btn - chips
.p-btn-chips {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  max-height: 36px;
  gap: 4px;
  padding: 0.5rem clamp(0.875rem, 2vw, 1rem);
  background: #f5f5f5;
  border-radius: 6.25rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #111;
  &:hover {
    border-color: #111;
    box-sizing: border-box;
  }
  &.active {
    border: 1px solid #111;
    background: #fff;
    box-shadow: 2px 2px 8px 0px #0000001a;
  }
}
/*-------------------------------------------------------------------
    @Tag
/*-----------------------------------------------------------------*/

// 색상 배열 정의
$colors: #e3f5e7, #f9e4cb, #e2e6fd, #f9e9fb, #e5fad0, #f2e7fe, #d6f5f3, #fcf2d1,
  #f1f8c6, #dfecf6, #ffe5e5, #e6e9f1;
.tag {
  padding: 0.1875rem 0.5rem;
  display: inline-block;
  border-radius: 2.5rem;
  background: #fff;
  color: #111;
  @include caption-01;
  font-family: Pretendard;
  font-weight: 500;
  letter-spacing: -0.28px;
  text-align: center;

  // 년도
  &.year {
    border-radius: 0;
    background: #111;
    color: #fff;
  }

  // color0부터 color11까지 각각 다른 색상 할당
  @for $i from 0 through 11 {
    &.color#{$i} {
      background-color: nth($colors, $i + 1);
    }
  }
}

/*-------------------------------------------------------------------
    @Form | input, checkbox, radio ...
/*-----------------------------------------------------------------*/
// Form - input
label {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  &.essential {
    position: relative;
    padding-right: 0.625rem;
    &::after {
      position: absolute;
      right: 0;
      content: "*";
      display: inline-block;
      color: #fb3b3b;
    }
  }
}
input[type="text"] {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #bbb;
  @include body-03;
  font-weight: 400;
  color: #111;
  outline: none;
  &::placeholder {
    color: #999;
  }
  &:focus {
    border-bottom-color: #111;
  }
  &:disabled {
    background: #fff;
    border-bottom-color: #dedede;
    color: #ccc;
  }
}

// input - search
.input-search {
  display: grid;
  padding: 0.875rem 0;
  grid-template-columns: 1fr minmax(28px, 38px);
  grid-template-rows: minmax(28px, 38px);
  align-items: center;
  border-bottom: 4px solid #111;
  overflow: hidden;
  input[type="text"] {
    @include sub-title-02;
    @include mobile() {
      font-size: 1.25rem;
    }
    border-bottom: none;
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    letter-spacing: -0.02em;
  }
  .input-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

// icon svg test
.icon-svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  &.search {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.4256 25.1864C29.0929 23.0415 30.0858 20.3462 30.0858 17.4191C30.0858 10.4235 24.4147 4.75244 17.4191 4.75244C10.4235 4.75244 4.75244 10.4235 4.75244 17.4191C4.75244 24.4147 10.4235 30.0858 17.4191 30.0858C20.3462 30.0858 23.0415 29.0929 25.1864 27.4256L31.0083 33.2475L33.2475 31.0083L27.4256 25.1864ZM26.9191 17.4191C26.9191 22.6658 22.6658 26.9191 17.4191 26.9191C12.1724 26.9191 7.91911 22.6658 7.91911 17.4191C7.91911 12.1724 12.1724 7.91911 17.4191 7.91911C22.6658 7.91911 26.9191 12.1724 26.9191 17.4191Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
}

// list
h3.tit {
  @include head-03;
  font-weight: 700;
  .year {
    display: inline-block;
    font-weight: 500;
  }
  em {
    font-family: Wanted Sans;
  }
}
.list {
  padding: clamp(1.25rem, 2vw, 2.5rem) 0;
  border-bottom: 1px solid #333;
  .tit {
    @include mobile() {
      flex-wrap: wrap;
    }
    @include head-03;
    font-weight: 700;
    display: flex;
    gap: 4px;
    .year {
      display: inline-block;
      font-weight: 500;
    }
  }
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 2vw, 40px);
  .list-img {
    @include mobile() {
      width: 100%;
      max-width: 100%;
      flex: 1 0 100%;
    }
    position: relative;
    width: 320px;
    max-width: 320px;
    height: 320px;
    max-height: 320px;
    flex: 0 0 320px;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("/assets/img/test3.jfif") no-repeat center center;
      filter: blur(10px);
      z-index: -1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .list-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 822px;
    min-height: 320px;
    .info-top {
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        padding-bottom: clamp(10px, 2vw, 12px);
      }
    }
    .info-middle {
      flex: 1;
      p {
        padding-top: clamp(12px, 2vw, 24px);
        @include body-02;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .info-bottom {
      @media (max-width: 360px) {
        align-self: flex-end;
      }
    }
  }
}
