/*-------------------------------------------------------------------
    @Default
/*-----------------------------------------------------------------*/
// Checkbox, Radio
.radio,
.switch,
.checkbox {
  position: relative;
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  > input {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0 !important;
    outline: none;
  }
  > label {
    position: relative;
    display: block;
  }
  > label::before,
  > label::after {
    content: "";
    display: block;
    position: absolute;
  }
}
/*-------------------------------------------------------------------
    @모달
/*-----------------------------------------------------------------*/
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
  .modal-window {
    width: 100%;
    min-width: 17.5rem;
    margin: 1.25rem;
    border: 1px solid $c-primary;
    background-color: $c-fff;
    box-shadow: 0px 0px 20px 0px #00000014;
    .tit {
      @include fs-32-40;
      font-weight: 400;
      flex: 1;
    }
    .chips-wrap {
      .tit {
        flex: none;
      }
      .chips {
        max-width: 100%;
      }
    }
    .window-top {
      @include d-flex-between-center;
      padding-bottom: clamp(1.25rem, 2vw, 1.5rem);
    }
  }
  &.alert {
    background-color: rgba(0, 0, 0, 0);
    .modal-window {
      min-width: 17.5rem;
      max-width: 21.25rem;
      padding: clamp(0.75rem, 2vw, 1rem) clamp(1rem, 2vw, 1.25rem);
      border: 1px solid $c-ccc;
      box-shadow: 0px 0px 14px 0px #0000000f;
      .window-top {
        @include d-flex-end-none;
        padding-bottom: 0;
      }
      .window-content {
        width: 100%;
        text-align: center;
        .alert-txt {
          @include mo360-767() {
            @include fs-16-24;
          }
          @include fs-18-28;
          color: $c-primary;
          font-weight: 400;
          letter-spacing: -0.02rem;
        }
        button {
          max-width: 6.25rem;
          margin-top: clamp(1.25rem, 2vw, 1.5rem);
          & + button {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

/*-------------------------------------------------------------------
    @토글 메뉴 mo / side
/*-----------------------------------------------------------------*/
@mixin gnb_wrap_menu_tit {
  @include fs-18-28;
  font-family: Wanted Sans;
  font-weight: 700;
}

.gnb-wrap.mo {
  display: none;
  position: fixed;
  z-index: 999;
  top: 4.75rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4.75rem);
  padding: 1.25rem;
  background: $c-fff;
  overflow-y: auto;

  &.show {
    display: block;
  }
  p {
    padding-bottom: 1.5rem;
  }
  nav {
    flex: 1;
    color: $c-primary;
    ul.menu {
      > li {
        @include fs-24-32;
        font-weight: 700;
        padding: 0.625rem 0;
        color: $c-primary;
        .menu-tit {
          @include gnb_wrap_menu_tit;
          display: inline-block;
          width: 100%;
        }
        &.active {
          color: $c-primary !important;
          .menu-tit {
            text-decoration: underline;
            text-underline-position: under;
          }
          ul.menu-sub {
            display: block;
          }
        }
        ul.menu-sub {
          display: none;
          background: $c-fff;

          > li {
            a {
              display: inline-block;
              width: 100%;
            }
            &.active {
              .sub-tit {
                &::after {
                  @include icon-bg(icon-active);
                }
              }
              .sub-menu {
                padding: 0.375rem 0;
                max-height: 12.5rem;
              }
            }

            .sub-tit {
              @include fs-16-24;
              display: inline-block;
              position: relative;
              width: 100%;
              padding: 0.625rem 0;
              font-weight: 700;
              color: #333;
              cursor: pointer;
              &::after {
                content: "";
                position: absolute;
                right: 0;
                width: 1.5rem;
                height: 1.5rem;
                @include icon-bg(icon-passive);
              }
            }
            .sub-menu {
              max-height: 0;
              overflow: hidden;
              transition: padding 200ms ease-in, max-height 200ms ease-in;
              background: #f5f5f5;
              > li {
                @include fs-14-20;
                font-weight: 400;
                color: #333;
                padding: 0.625rem 1rem;
                background: #f5f5f5;
              }
            }
          }
        }
      }
    }
  }
}
.gnb-wrap.side-toggle {
  width: 100%;
  height: 100%;
  background: $c-fff;
  nav {
    flex: 1;
    color: $c-primary;
    ul.menu {
      > li {
        @include fs-24-32;
        font-weight: 700;
        .menu-tit {
          @include gnb_wrap_menu_tit;
          display: inline-block;
          width: 100%;
          text-decoration: underline;
          text-underline-position: under;
          color: $c-primary;
        }
        ul.menu-sub {
          display: block;
          background: $c-fff;

          > li {
            a {
              display: inline-block;
              width: 100%;
            }
            &.active {
              .sub-tit {
                &::after {
                  @include icon-bg(icon-active);
                }
              }
              .sub-menu {
                max-height: 12.5rem;
                padding: 0.375rem 0;
              }
            }

            .sub-tit {
              @include fs-16-24;
              display: inline-block;
              position: relative;
              width: 100%;
              padding: 0.625rem 0;
              font-weight: 700;
              color: #333;
              cursor: pointer;
              &::after {
                content: "";
                position: absolute;
                right: 0;
                width: 1.5rem;
                height: 1.5rem;
                @include icon-bg(icon-passive);
              }
            }
            .sub-menu {
              max-height: 0;
              overflow: hidden;
              transition: padding 200ms ease-in, max-height 200ms ease-in;

              background: #f5f5f5;
              > li {
                @include fs-14-20;
                font-weight: 400;
                color: #333;
                padding: 0.625rem 1rem;
                background: #f5f5f5;
              }
            }
          }
        }
      }
    }
  }

  // include-tags Type
  .include-tags {
    .route {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      @include fs-16-24;
      font-weight: 700;
      .icon {
        max-width: 0.75rem;
        max-height: 0.75rem;
      }
    }

    .work-tit {
      @include fs-18-28;
      letter-spacing: -0.02rem;
      padding: 1.5rem 0 0.75rem;
      p {
        font-weight: 500;
      }
      em {
        font-weight: 400;
        color: $c-444;
      }
    }
  }
}

/*-------------------------------------------------------------------
    @공통 class
/*-----------------------------------------------------------------*/
.txt-under {
  @include fs-18-28;
  @include mo360-767() {
    @include fs-16-24;
  }
  font-family: "Pretendard-Regular";
  font-weight: 600;
  color: $c-primary;
  letter-spacing: -0.02rem;
  text-decoration: underline;
  text-underline-position: under;
}
.txt-clamp3 {
  @include ellipsis-3;
}
h1.hidden {
  position: absolute;
  left: -9999px;
}
/*-------------------------------------------------------------------
    @Icon
/*-----------------------------------------------------------------*/
// icon svg
.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  &.arrow-top {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 7.41444L5.70718 12.7073L4.29297 11.293L12.0001 3.58594L19.7072 11.293L18.293 12.7073L13 7.41429V19.0002H11V7.41444Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.arrow-right {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5858 11L11.293 5.70718L12.7072 4.29297L20.4143 12.0001L12.7072 19.7072L11.293 18.293L16.5859 13H5V11H16.5858Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.arrow-right-w {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5858 11L11.293 5.70718L12.7072 4.29297L20.4143 12.0001L12.7072 19.7072L11.293 18.293L16.5859 13H5V11H16.5858Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  &.check {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5822 7.98648L10.1408 17.4278L4.41797 11.705L5.83218 10.2908L10.1408 14.5994L18.168 6.57227L19.5822 7.98648Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.search {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3213 15.9076C18.3744 14.5529 19.0015 12.8507 19.0015 11.002C19.0015 6.58368 15.4197 3.00195 11.0015 3.00195C6.58319 3.00195 3.00146 6.58368 3.00146 11.002C3.00146 15.4202 6.58319 19.002 11.0015 19.002C12.8502 19.002 14.5524 18.3749 15.9071 17.3218L19.5841 20.9988L20.9983 19.5846L17.3213 15.9076ZM17.0015 11.002C17.0015 14.3157 14.3152 17.002 11.0015 17.002C7.68776 17.002 5.00147 14.3157 5.00147 11.002C5.00147 7.68825 7.68776 5.00195 11.0015 5.00195C14.3152 5.00195 17.0015 7.68825 17.0015 11.002Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.cross {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0007 10.5865L6.41421 5L5 6.41421L10.5865 12.0007L5.00056 17.5867L6.41478 19.0009L12.0007 13.4149L17.5865 19.0007L19.0007 17.5865L13.4149 12.0007L19.0013 6.41436L17.5871 5.00015L12.0007 10.5865Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.menu {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 7H4V5H20V7ZM20 13H4V11H20V13ZM20 19H4V17H20V19Z' fill='black'/%3E%3C/svg%3E%0A");
  }
  &.mail-w {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0001 13.7527L18.6 8.79986L17.3995 7.2002L11.9999 11.2523L6.59865 7.20026L5.39844 8.8001L12.0001 13.7527Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 20V4H22V20H2ZM4 6H20V18H4V6Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  &.passive {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 13H5V11H19V13Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }
  &.active {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11V5H11V11H5V13H11V19H13V13H19V11H13Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }
  &.download {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70718 10.0429L11.0001 12.3358V4H13.0001V12.3358L15.293 10.0429L16.7072 11.4571L12.0001 16.1642L7.29297 11.4571L8.70718 10.0429Z' fill='%23111111'/%3E%3Cpath d='M6 15V18H18V15H20V20H4V15H6Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.link {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0209 3.00019C14.7037 2.98873 13.4348 3.49563 12.4876 4.4114L12.4773 4.42153L11.0934 5.79866L12.5042 7.21629L13.8826 5.84462C14.4522 5.29634 15.2135 4.99324 16.0035 5.00011C16.7957 5.00701 17.5538 5.32508 18.1143 5.88615C18.6748 6.44725 18.9929 7.20649 18.9998 8.00039C19.0067 8.7916 18.7039 9.55377 18.1567 10.1239L15.7497 12.5334C15.4432 12.8403 15.0743 13.0777 14.6683 13.2293C14.2623 13.3809 13.8285 13.4433 13.3963 13.4123C12.9641 13.3813 12.5436 13.2577 12.1632 13.0497C11.7829 12.8417 11.4516 12.5542 11.1919 12.2066L9.58984 13.4038C10.0212 13.981 10.5715 14.4587 11.2036 14.8044C11.8357 15.1501 12.5347 15.3557 13.2533 15.4072C13.9718 15.4587 14.693 15.3549 15.3679 15.1029C16.0427 14.8509 16.6555 14.4566 17.1646 13.9469L19.5782 11.5309L19.5904 11.5185C20.5052 10.5703 21.0112 9.3007 20.9998 7.98303C20.9883 6.66536 20.4603 5.40471 19.5292 4.47264C18.598 3.54054 17.3382 3.01165 16.0209 3.00019Z' fill='%23111111'/%3E%3Cpath d='M10.7467 8.59293C10.0282 8.54141 9.30697 8.64519 8.63207 8.8972C7.95723 9.14919 7.34436 9.54359 6.83525 10.0534L4.42176 12.4693L4.40958 12.4817C3.49478 13.4298 2.98875 14.6994 3.00019 16.0171C3.01163 17.3347 3.53962 18.5954 4.47076 19.5275C5.40193 20.4596 6.66179 20.9885 7.97904 20.9999C9.29629 21.0114 10.5652 20.5045 11.5124 19.5887L11.5248 19.5765L12.9005 18.1994L11.4856 16.7859L10.1164 18.1564C9.5469 18.7041 8.78597 19.0069 7.99644 19C7.20421 18.9931 6.44619 18.675 5.88568 18.114C5.32514 17.5529 5.00701 16.7936 5.00011 15.9997C4.99325 15.2085 5.29606 14.4463 5.84326 13.8762L8.25042 11.4666C8.5569 11.1597 8.92567 10.9225 9.33169 10.7708C9.7377 10.6192 10.1715 10.5568 10.6037 10.5878C11.0359 10.6188 11.4564 10.7425 11.8367 10.9504C12.217 11.1584 12.5483 11.4459 12.808 11.7935L14.4101 10.5963C13.9788 10.0191 13.4284 9.5414 12.7963 9.19572C12.1643 8.85003 11.4652 8.64444 10.7467 8.59293Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.arrow-first {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5608 6.70718L6.26788 12.0001L11.5608 17.293L10.1466 18.7072L3.43945 12.0001L10.1466 5.29297L11.5608 6.70718Z' fill='%23111111'/%3E%3Cpath d='M18.5608 6.70718L13.2679 12.0001L18.5608 17.293L17.1466 18.7072L10.4395 12.0001L17.1466 5.29297L18.5608 6.70718Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.arrow-last {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4395 6.70718L17.7323 12.0001L12.4395 17.293L13.8537 18.7072L20.5608 12.0001L13.8537 5.29297L12.4395 6.70718Z' fill='%23111111'/%3E%3Cpath d='M5.43945 6.70718L10.7323 12.0001L5.43945 17.293L6.85367 18.7072L13.5608 12.0001L6.85367 5.29297L5.43945 6.70718Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.prev {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.76739 12.0001L15.0603 6.70718L13.6461 5.29297L6.93896 12.0001L13.6461 18.7072L15.0603 17.293L9.76739 12.0001Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.prev-shadow {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_670_8259)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5358 24.0002L30.1215 13.4144L27.2931 10.5859L13.8789 24.0002L27.2931 37.4144L30.1215 34.5859L19.5358 24.0002Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_670_8259' x='-8' y='-8' width='64' height='64' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_670_8259'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_670_8259' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  &.next {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2326 12.0001L8.93972 6.70718L10.3539 5.29297L17.061 12.0001L10.3539 18.7072L8.93972 17.293L14.2326 12.0001Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.next-shadow {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_670_8260)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.4642 24.0002L17.8785 13.4144L20.7069 10.5859L34.1211 24.0002L20.7069 37.4144L17.8785 34.5859L28.4642 24.0002Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_670_8260' x='-8' y='-8' width='64' height='64' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_670_8260'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_670_8260' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  &.no-data {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.5 49.0666V23.4666H41.5V49.0666H38.5Z' fill='%23CCCCCC'/%3E%3Cpath d='M41.6004 53.3333H38.4004V56.5333H41.6004V53.3333Z' fill='%23CCCCCC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 72C57.6731 72 72 57.6731 72 40C72 22.3269 57.6731 8 40 8C22.3269 8 8 22.3269 8 40C8 57.6731 22.3269 72 40 72ZM40 69C56.0163 69 69 56.0163 69 40C69 23.9837 56.0163 11 40 11C23.9837 11 11 23.9837 11 40C11 56.0163 23.9837 69 40 69Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
  }
  &.fix {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8333 3.5V4.76345C9.52267 5.31888 7 8.19817 7 11.6667V18.6667H5.25V21H22.75V18.6667H21V11.6667C21 8.19817 18.4773 5.31888 15.1667 4.76345V3.5H12.8333ZM14 7C11.4227 7 9.33333 9.08934 9.33333 11.6667V18.6667H18.6667V11.6667C18.6667 9.08934 16.5773 7 14 7Z' fill='%23333333'/%3E%3Cpath d='M11.0833 24.5V22.1667H16.9167V24.5H11.0833Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }
  &.doc {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9951 9.99805H7.99512V7.99805H15.9951V9.99805Z' fill='%23111111'/%3E%3Cpath d='M7.99512 12.998H11.9951V10.998H7.99512V12.998Z' fill='%23111111'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 3V21H20V3H4ZM18 5H6V19H18V5Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.calendar {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1594 15.879L15.7071 11.3312L14.2929 9.91699L11.1594 13.0505L9.70712 11.5983L8.29291 13.0125L11.1594 15.879Z' fill='%23111111'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 6V4H9V6H15V4H17V6H20V20H4V6H7ZM6 8H18V18H6V8Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
  &.file {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1716 9L9.17157 7H6V17H18V9H11.1716ZM10 5L12 7H20V19H4V5H10Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }
  &.logout {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9982 21V3L10 3V5L17.9982 5V19H10V21L19.9982 21Z' fill='%23333333'/%3E%3Cpath d='M10 15.1706L7.8294 13L15.4152 13V11L7.8294 11L10 8.82944L8.58579 7.41522L4.00098 12L8.58579 16.5848L10 15.1706Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }
  &.align {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 11V4H4V11H11ZM6 6H9V9H6V6Z' fill='%23333333'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 11V4H13V11H20ZM15 6H18V9H15V6Z' fill='%23333333'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 13V20H13V13H20ZM18 15H15V18H18V15Z' fill='%23333333'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 20V13H4V20H11ZM6 15H9V18H6V15Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }
  &.slash {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0.816406H6L2 8.81641H0L4 0.816406Z' fill='%23DEDEDE'/%3E%3Cpath d='M10 0.816406H12L8 8.81641H6L10 0.816406Z' fill='%23DEDEDE'/%3E%3C/svg%3E%0A");
  }
}

/*-------------------------------------------------------------------
    @common - Button | border(default)/fill/has icon
/*-----------------------------------------------------------------*/
$p-12-0: 0.75rem;
$p-14-0: 0.875rem;
// btn - border(default)
// p-btn default ptb-14
.p-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: auto;
  min-width: 6.25rem;
  max-width: 100%;
  max-height: 3.25rem;
  padding: clamp(0.625rem, 2vw, 0.875rem);
  border: 1px solid #111;
  box-sizing: border-box;
  font-family: "Wanted Sans";
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 700;
  color: #111;
  span {
    display: inline-block;
    line-height: clamp(1.25rem, 2vw, 1.5rem);
  }
  &:hover {
    background: #f5f5f5;
  }
  &:disabled {
    border-color: #bbb;
    color: #bbb;
    &:hover {
      background: none;
      color: #bbb;
    }
    .icon {
      filter: invert(75%);
    }
  }

  // btn - fill
  &.fill {
    border: none;
    background: #111;
    color: #fff;
    &:hover {
      background: #444;
    }
    &:disabled {
      background: #bbb;
      color: #fff;
    }
  }

  // btn - has icon
  &.has-icon {
    &:hover {
      background: #111;
      color: #fff;
      .icon {
        filter: invert(100%);
      }
    }
    &:disabled {
      border-color: #bbb;
      color: #bbb;
      &:hover {
        background: none;
        color: #bbb;
      }

      .icon {
        filter: invert(75%);
      }
    }
  }
}

// btn - circle(Fab) | 최상단 버튼, email
.p-btn-cir {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #111;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(1px);
  &.top {
    background: #ffffff99;
    box-shadow: 0px 4px 4px 0px #0000001f;
  }
  &.mail {
    background: rgba(17, 17, 17, 0.6);
    box-shadow: 0px 4px 4px 0px #00000024;
  }
}
.scroll-btns {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;

  z-index: 1000;
  .p-btn-cir {
    &.top {
      display: none;
    }
    &.mail {
      @include mo360-767() {
        display: block;
      }
      display: none;
    }
  }
}
// btn - chips
.chips-wrap {
  @include mo360-767() {
    flex-wrap: wrap;
  }
  display: flex;
  gap: clamp(0.75rem, 2vw, 2.5rem);
  .tit {
    @include fs-42-50;
    @include mo360-767() {
      @include fs-34-42;
    }
    @include media-max(1279px) {
      flex: 1 1 auto;
    }
    font-weight: 400;
    flex: 0 1 18.625rem;
  }
  .chips {
    @include mo360-767() {
      .p-btn-chips {
        @include fs-14-20;
      }
    }
    @include media-max(1279px) {
      max-width: 100%;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: calc(100% - 23.75rem);
  }
}
.p-btn-chips {
  @include mo360-767() {
    @include fs-14-20;
    .icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  @include fs-16-24;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  max-height: 36px;
  gap: 4px;
  padding: 0.5rem clamp(0.875rem, 2vw, 1rem);
  background: #f5f5f5;
  border-radius: 6.25rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #111;
  &:hover {
    border-color: #111;
    box-sizing: border-box;
  }
  &.active {
    > span {
      display: inline-block;
      flex: 1;
    }
    border: 1px solid #111;
    background: #fff;
    box-shadow: 2px 2px 8px 0px #0000001a;
  }
}

//리스트 내 btn
.p-btn-list {
  @include d-flex-center-center;
  min-width: 2.5rem;
  max-width: 2.5rem;
  height: clamp(2.5rem, 2vw, 2.75rem);
  padding: 0.625rem;
  border: 1px solid $c-dedede;
  > .icon {
    @include bg-contain;
  }
  &.prev {
    .icon {
      transform: rotate(180deg);
    }
  }
  &:disabled {
    .icon {
      filter: invert(75%);
    }
  }
}
/*-------------------------------------------------------------------
    @pagination 페이징
/*-----------------------------------------------------------------*/
.pagination {
  padding-top: clamp(2.5rem, 2vw, 3.75rem);
  text-align: center;
  a {
    @include mo360-767() {
      @include fs-16-24;
    }
    @include fs-18-28;
    display: inline-block;
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    padding: 0.5rem;
    color: $c-333;
    text-decoration: none;
    vertical-align: middle;
    &.active {
      border: 1px solid $c-primary;
      &:hover {
        background-color: $c-fff;
      }
    }
    &:hover {
      background-color: $c-f5f5f5;
    }
    .icon {
      filter: invert(0.8);
    }
  }
  .first,
  a.prev,
  a.next,
  .last {
    &:hover {
      background: none;
      .icon {
        filter: invert(0);
      }
    }
  }
  .pages {
    display: inline-block;
    text-align: center;
    .page {
      @include mo360-767() {
        display: none;
        &:nth-child(-n + 3) {
          display: inline-block;
        }
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}

/*-------------------------------------------------------------------
    @Tag
/*-----------------------------------------------------------------*/
.tag-wrap {
  display: inline-flex;
  flex-direction: column;
  gap: 0.375rem;
}
// 색상 배열 정의
$colors: #e3f5e7, #f9e4cb, #e2e6fd, #f9e9fb, #e5fad0, #f2e7fe, #d6f5f3, #fcf2d1,
  #f1f8c6, #dfecf6, #ffe5e5, #e6e9f1;
.tag {
  padding: 0.1875rem 0.5rem;
  display: inline-block;
  border-radius: 2.5rem;
  background: #fff;
  color: #111;
  @include fs-14-20;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  letter-spacing: -0.28px;
  text-align: center;
  & + .tag {
    margin-left: 0.25rem;
  }

  // 년도
  &.year {
    width: 3.125rem;
    border-radius: 0;
    background: #111;
    color: #fff;

    // 임시저장 년도 일 때
    &.temp {
      background: $c-f5f5f5;
    }
  }

  // color0부터 color11까지 각각 다른 색상 할당
  @for $i from 0 through 11 {
    &.color#{$i} {
      background-color: nth($colors, $i + 1);
    }
  }
}

/*-------------------------------------------------------------------
    @Form | input, checkbox, radio ...
/*-----------------------------------------------------------------*/
// Form - input
label {
  @include fs-16-24;
  @include mo360-767() {
    @include fs-14-20;
  }
  font-family: "Pretendard-Regular";
  font-weight: 500;
  color: $c-primary;
  letter-spacing: -0.02rem;
  &.essential {
    position: relative;
    padding-right: 0.625rem;
    &::after {
      content: "*";
      position: absolute;
      right: 0;
      display: inline-block;
      color: $c-system;
    }
  }
}
input[type="text"] {
  @include fs-18-28;
  @include mo360-767() {
    @include fs-16-24;
  }
  font-weight: 400;
  width: 100%;
  padding: clamp(0.5rem, 2vw, 0.625rem) 0;
  border-bottom: 1px solid $c-bbb;
  color: $c-primary;
  outline: none;
  &::placeholder {
    color: $c-999;
  }
  &:focus {
    border-bottom-color: $c-primary;
  }
  &:disabled {
    background: $c-fff;
    border-bottom-color: $c-dedede;
    color: $c-ccc;
  }
}

// input - search
.search-wrap {
  display: grid;
  grid-template-columns: minmax(20rem, 52.75rem);
  justify-content: center;
  gap: clamp(1rem, 2vw, 1.25rem);
  padding-bottom: clamp(2.5rem, 2vw, 3.75rem);
  font-family: "Pretendard-Regular";
  color: $c-primary;
  .searct-noti {
    @include mo360-767() {
      @include fs-16-24;
    }
    @include fs-18-28;
    font-weight: 400;
    text-align: center;
    span {
      display: inline-block;
      font-weight: 700;
    }
  }
}
.input-search {
  display: flex;
  height: auto;
  min-height: 3.75rem;
  max-height: 5rem;
  padding: clamp(1rem, 2vw, 1.375rem) 0;
  align-items: center;
  border-bottom: 4px solid $c-primary;
  overflow: hidden;

  #inputField {
    @include fs-28-36;
    @include mo360-767() {
      @include fs-20-28;
    }
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 500;
    border-bottom: none;
    outline: none;
    letter-spacing: -0.02em;
    flex: 1;
    overflow-x: auto;
    white-space: nowrap; /* 추가 */

    .chip-container {
      display: flex;
      flex-wrap: nowrap;
      -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
      scroll-behavior: smooth; /* for smooth scrolling on other browsers */
    }

    #inputArea {
      flex: 1;
      outline: none;
      min-height: inherit;
    }
  }

  .input-icon {
    @include mo360-767() {
      width: 1.75rem;
      height: 1.75rem;
    }
    @include d-flex-center-center;
    width: 2.375rem;
    height: 2.375rem;

    > .icon {
      width: 100%;
      height: 100%;
    }
  }
}
/*-------------------------------------------------------------------
    @proj list
/*-----------------------------------------------------------------*/
.proj {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid $c-primary;
  border-bottom: 1px solid $c-dedede;
  ul {
    li.list {
      @include mo360-767() {
        @include fs-16-24;
        grid-template-columns: 1fr;
        button {
          display: none;
        }
        .list-detail {
          flex-direction: column;
        }
      }
      @include fs-18-28;
      font-weight: 500;
      color: $c-primary;
      display: flex;
      align-items: center;
      gap: 2.5rem;
      padding: 1.25rem clamp(1rem, 2vw, 1.25rem);
      &:not(:last-child) {
        border-bottom: 1px solid $c-dedede;
      }
      &.fix {
        background: $c-f5f5f5;
        .list-mark {
          .icon.fix {
            display: block;
          }
          .list-num {
            display: none;
          }
        }
      }
      .list-mark {
        @include mo360-767() {
          display: none;
        }
        @include d-flex-center-center;
        width: 5rem;
        flex-direction: column;
        overflow: hidden;
        flex: 0 1 5rem;
        .icon.fix {
          display: none;
        }
        .list-num {
          display: block;
        }
      }

      .list-detail {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(0.5rem, 2vw, 1.25rem);
        flex: 1;
        p {
          flex: 1;
        }
      }

      a {
        width: 100%;
        min-width: 1.5rem;
        max-width: 1.75rem;
        height: 100%;
        min-height: 1.5rem;
        max-height: 1.75rem;
        .icon.arrow-right {
          display: inline-block;
          opacity: 0;
        }
      }
      &:hover {
        cursor: pointer;
        a {
          .icon.arrow-right {
            opacity: 1;
          }
        }

        .list-detail {
          p {
            font-weight: 700;
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }
    }
  }
}
/*-------------------------------------------------------------------
    @work,event detail
/*-----------------------------------------------------------------*/
.detail-wrap {
  .detail-top {
    @include mo360-767() {
      @include fs-26-34;
    }
    @include d-flex-between-center;
    @include fs-34-42;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid $c-primary;
    font-weight: 700;
    gap: 1.5rem;
    h2.top-tit {
      text-align: center;
      word-break: keep-all;
    }

    .prev-btn {
      transform: rotate(-180deg);
    }
  }

  .detail-mid {
    @include d-flex-center-center;
    padding: clamp(1.25rem, 2vw, 3.75rem) 0;
    border-bottom: 1px solid $c-dedede;

    .mid-inner {
      @include mo360-767() {
        flex-wrap: wrap;
        justify-content: center;
        .detail-txt {
          min-width: 100%;
        }
      }
      width: 100%;
      max-width: 67.5rem;
      // margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: clamp(1.5rem, 2vw, 2.5rem);

      .detail-img {
        flex: 1 1 20rem;
        max-width: 22.5rem;
        min-height: 18.375rem;
        max-height: 24.125rem;
      }

      .detail-txt {
        flex: 1;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .txt {
          flex: 1;
          color: $c-primary;
          .about {
            @include mo360-767() {
              @include fs-16-24;
            }
            @include fs-18-28;
            font-weight: 400;
            padding: 1rem 0;
            border-bottom: 1px solid $c-dedede;
            &:last-child {
              border-bottom: none;
            }
            br {
              display: block;
              content: "";
              margin-bottom: 0.5rem;
            }
          }
        }

        .invite-wrap {
          width: 100%;
          border-top: 1px solid $c-666;

          .invite-top {
            @include mo360-767() {
              padding: 0.75rem 0;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.25rem;
            }
            @include d-flex-between-center;
            flex-wrap: wrap;
            padding: 0.625rem 0;
            h3 {
              @include mo360-767() {
                @include fs-16-24;
              }
              @include fs-18-28;
              font-weight: 700;
            }

            .support {
              span {
                @include fs-14-20;
                display: inline-block;
                font-weight: 400;
                color: $c-f5f5f5;
                & + span {
                  padding-left: 0.75rem;
                }
              }
            }
          }

          .invite-mid {
            p {
              @include mo360-767() {
                @include fs-14-20;
              }
              @include fs-16-24;
              display: grid;
              grid-template-columns: minmax(1.25rem, 1.5rem) 1fr;
              align-items: center;
              gap: 0.5rem;
              font-weight: 400;
              padding: 0.75rem 0;
              border-top: 1px dashed $c-dedede;
              i.icon {
                filter: invert(0.6);
              }
            }
          }
        }

        .info {
          width: 100%;
          padding: clamp(1rem, 2vw, 1.25rem);
          background: $c-f5f5f5;
          border-top: 1px solid $c-666;

          p {
            @include fs-14-20;
            letter-spacing: -0.02rem;
            font-weight: 400;
            color: $c-666;
            em {
              position: relative;
              padding-left: 0.5625rem;
              margin-left: 0.5rem;
              &::before {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                content: "";
                display: inline-block;
                width: 1px;
                height: 0.5rem;
                background: $c-ccc;
              }
            }
          }

          br {
            &:first-child {
              content: "";
              display: block;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
    // media
    &.media {
      .detail-img {
        @include mo360-767() {
          @include d-flex-center-center;
          padding: 1.875rem;
          box-shadow: none;
          > img {
            @include img-contain;
            box-shadow: 6px 8px 16px 0px rgba(0, 0, 0, 0.1);
          }
        }
        width: clamp(20rem, 2vw, 22.5rem);
        height: 100%;
        min-height: 20rem;
        max-height: 32.5rem;
        background: $c-eee;
        box-shadow: 6px 8px 16px 0px rgba(0, 0, 0, 0.1);

        > img {
          @include img-cover;
        }
      }
      .info {
        margin-top: clamp(1.5rem, 2vw, 2.5rem);
      }
    }
  }

  .detail-bttm {
    padding-top: clamp(2.5rem, 2vw, 3rem);
    text-align: center;
    button {
      @include mo360-767() {
        min-width: 100%;
        height: 3rem;
      }
      min-width: 10rem;
    }
  }
}

// swiper
.slide-cont {
  position: relative;
  overflow: hidden;

  .slide-btn {
    @include mo360-767() {
      display: none;
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    z-index: 1;

    > .icon {
      @include img-cover;
    }

    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }

  .slide-wrap {
    display: flex;

    .slide {
      position: relative;
      min-width: 100%;
      height: 100%;

      .slide-img {
        @include mo360-767() {
          height: 15rem;
        }
        height: 100%;
        height: 17rem;

        img {
          @include img-cover;
        }
      }

      .slide-txt {
        @include fs-14-20;
        margin-top: 0.625rem;
        font-weight: 400;
        color: $c-666;
        letter-spacing: -0.02rem;
        text-align: center;
      }
    }
  }

  &.thumb {
    position: static;
    height: auto;
    max-height: 4rem;
    margin-top: clamp(1rem, 2vw, 1.25rem);
    overflow: visible;

    .slide-wrap {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      max-width: 100%;
      overflow-x: auto;

      .slide {
        @include mo360-767() {
          width: 0.5rem;
          min-width: 0.5rem;
          max-width: 0.5rem;
          height: 0.5rem;
          min-height: 0.5rem;
          max-height: 0.5rem;
          background: $c-fff;
          border: 1px solid $c-primary;
          > img {
            display: none;
          }

          &.active {
            border: none;
            background: $c-primary;
          }
        }
        width: 3.9375rem;
        min-width: 3.9375rem;
        max-width: 3.9375rem;
        height: 3.9375rem;
        min-height: 3.9375rem;
        max-height: 3.9375rem;
        opacity: 50%;
        overflow: hidden;
        > img {
          @include img-cover;
        }
        &.active {
          border: 1px solid $c-primary;
          opacity: 100%;
        }

        .slide-txt {
          @include fs-14-20;
          margin-top: 0.625rem;
          font-weight: 400;
          color: $c-666;
          letter-spacing: -0.02rem;
          text-align: center;
        }
      }
    }
  }
}
