/*-------------------------------------------------------------------
    @Default
/*-----------------------------------------------------------------*/
// Checkbox, Radio
.radio,
.switch,
.checkbox {
  position: relative;
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  > input {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0 !important;
    outline: none;
  }
  > label {
    position: relative;
    display: block;
  }
  > label::before,
  > label::after {
    content: "";
    display: block;
    position: absolute;
  }
}
/*-------------------------------------------------------------------
    @모달
/*-----------------------------------------------------------------*/
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.modal-window {
  min-width: 20rem;
  max-width: 35rem;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px #00000014;
}
/*-------------------------------------------------------------------
    @토글 메뉴
/*-----------------------------------------------------------------*/
.menus {
  ul {
    li {
      ul.menu-inner {
        display: none;
      }
      &.active {
        ul.menu-inner {
          display: block;
        }
      }
    }
  }
}
/*-------------------------------------------------------------------
    @name
/*-----------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @Icon
/*-----------------------------------------------------------------*/
@mixin icon-bg($name) {
  background: url("/assets/img/#{$name}.png");
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  &.arrow-top {
    @include icon-bg(icon-arrowtop);
  }
  &.arrow-right {
    @include icon-bg(icon-w-arrowright);
  }
  &.check {
    @include icon-bg(icon-check);
  }
  &.search {
    @include icon-bg(icon-search);
  }
  &.cross {
    @include icon-bg(icon-cross);
  }
  &.menu {
    @include icon-bg(icon-menu);
  }
  &.mail {
    @include icon-bg(icon-w-mail);
  }
  &.passive {
    @include icon-bg(icon-passive);
  }
  &.active {
    @include icon-bg(icon-active);
  }
}

/*-------------------------------------------------------------------
    @common - Button | border(default)/fill/include icon
/*-----------------------------------------------------------------*/
$p-12-0: 0.75rem;
$p-14-0: 0.875rem;
// btn - border(default)
.p-btn {
  width: auto;
  padding: clamp(0.75rem, 2vw, 0.875rem) 1.25rem;
  border: 1px solid #111;
  box-sizing: border-box;
  font-family: "Wanted Sans";
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 700;
  color: #111;
  &:hover {
    background: #111;
    color: #fff;
  }
  &:disabled {
    border-color: #bbb;
    color: #bbb;
    &:hover {
      background: none;
      color: #bbb;
    }
  }

  // btn - fill
  &.fill {
    border: none;
    background: #111;
    color: #fff;
    &:hover {
      background: #444;
    }
    &:disabled {
      background: #bbb;
      color: #fff;
    }
  }

  // btn - include icon
  &.includeIcon {
    > span {
      display: inline-block;
      position: relative;
      padding-right: 34px;
      &::after {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include icon-bg(icon-cross);
      }
    }
    &:hover {
      > span {
        &::after {
          filter: brightness(0) invert(1);
        }
      }
    }
    &:disabled {
      border-color: #bbb;
      color: #bbb;
      span {
        &:after {
          filter: invert(75%);
        }
      }
    }
  }
}

// btn - circle(Fab) | 최상단 버튼, email
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.p-btn-cir {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #111;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(1px);
  &.top {
    background: #fff;
  }
  &.mail {
    background: rgba(17, 17, 17, 0.6);
  }
}
// btn - chips
.p-btn-chips {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 0.5rem clamp(0.875rem, 2vw, 1rem);
  background: #f5f5f5;
  border-radius: 6.25rem;
  color: #111;
  &:hover {
    border: 1px solid #111;
    box-sizing: border-box;
  }
}
/*-------------------------------------------------------------------
    @Tag
/*-----------------------------------------------------------------*/

// 색상 배열 정의
$colors: #cef6d7, #fde4b4, #cad9ff, #fbceff, #c2f58f, #ddbbff, #b9f3ef, #fef497,
  #e9ff93, #b4e0ff, #ffd5d0, #e6e9f1;
.tag {
  padding: 0.1875rem 0.5rem;
  display: inline-block;
  border-radius: 2.5rem;
  background: #fff;
  color: #111;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.28px;
  text-align: center;

  // 년도
  &.year {
    border-radius: 0;
    background: #111;
    color: #fff;
  }

  // color0부터 color11까지 각각 다른 색상 할당
  @for $i from 0 through 11 {
    &.color#{$i} {
      background-color: nth($colors, $i + 1);
    }
  }
}

/*-------------------------------------------------------------------
    @Form | input, checkbox, radio ...
/*-----------------------------------------------------------------*/
// Form - input
label {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  &.essential {
    position: relative;
    padding-right: 0.625rem;
    &::after {
      position: absolute;
      right: 0;
      content: "*";
      display: inline-block;
      color: #fb3b3b;
    }
  }
}
input[type="text"] {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid #bbb;
  font-size: 1rem;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  color: #111;
  outline: none;
  &::placeholder {
    color: #999;
  }
  &:focus {
    border-bottom-color: #111;
  }
  &:disabled {
    background: #fff;
    border-bottom-color: #dedede;
    color: #ccc;
  }
}
