@charset "utf-8";
//-------------------------------------------------------------------
//	파일이름 : Index
//  분류순서 : Commons, Components, Contents
//-------------------------------------------------------------------
// @Commons
@import "./comm.base";
@import "./comm.variables";
@import "./cont.common";

// --------------------------
.main {
  // mo .header
  //
  .side {
    @include media-max(1279px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 20rem;
    max-width: 20rem;
    height: calc(100vh - 2.5rem);
    margin: 1.25rem 0;
    padding: 1.25rem;
    border-right: 1px solid $c-primary;
    .side-cont {
      flex: 1;
      overflow-y: auto;
    }
  }
  header {
    @include media-max(1279px) {
      @include d-flex-between-center;
      width: 100%;
      height: 4.75rem;
    }
    @include d-flex-end-center;
    position: fixed;
    right: 0;
    width: calc(100% - 20rem);
    height: 5.5rem;
    padding: 0 1.25rem;
    background: $c-gr-scalefff;
    z-index: 10;
    &.scrolled {
      padding: 0;
      .header-inner {
        margin: 0 1.25rem;
        border-bottom-color: $c-primary;
      }
    }
    .header-inner {
      @include media-max(1279px) {
        justify-content: space-between;
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid transparent;
    }
    .logo {
      @include media-max(1279px) {
        display: block;
      }
      display: none;
    }

    .gnb-wrap {
      @include media-max(1279px) {
        align-items: none;
        align-self: auto;
      }
      position: relative;
      display: flex;
      gap: 1.5rem;
      align-items: flex-start;
      align-self: flex-end;
      nav {
        @include media-max(1279px) {
          display: none;
        }
        ul.menu {
          @include media-max(1279px) {
            display: none;
          }
          display: flex;
          gap: 1.5rem;
          height: 100%;
          > li {
            display: grid;
            padding-bottom: 1.25rem;
            .menu-tit {
              @include gnb_wrap_menu_tit;
            }
            &.clicked {
              a.menu-tit {
                color: #111;
                text-decoration: underline;
                text-underline-position: under;
              }
            }
            &:hover {
              ul.menu-sub {
                display: block;
              }
            }

            ul.menu-sub {
              display: none;
              position: absolute;
              right: 0;
              top: 100%;
              width: 17.5rem;
              min-width: 17.5rem;
              max-width: 17.5rem;
              border: 1px solid #111;
              background: #fff;
              > li {
                a {
                  display: inline-block;
                  width: 100%;
                }
                .sub-tit {
                  @include fs-16-24;
                  display: inline-block;
                  position: relative;
                  width: 100%;
                  padding: 0.75rem 1.25rem;
                  font-weight: 700;
                  color: #333;
                  cursor: pointer;
                  &::after {
                    content: "";
                    position: absolute;
                    right: 1.25rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    @include icon-bg(icon-passive);
                  }
                }
                .sub-menu {
                  max-height: 0;
                  overflow: hidden;
                  transition: padding 150ms ease-in, max-height 200ms ease-in;

                  background: #f5f5f5;
                  > li {
                    @include fs-14-20;
                    font-weight: 400;
                    color: #333;
                    padding: 0.625rem 0;
                    background: #f5f5f5;
                  }
                }
                &.active {
                  .sub-tit {
                    &::after {
                      @include icon-bg(icon-active);
                    }
                  }
                  .sub-menu {
                    max-height: 12.5rem;
                    padding: 0.375rem 1.25rem;
                  }
                }
              }
            }
          }
        }
      }
      .gnb {
        display: flex;
        align-items: center;
        gap: 1rem;
        .menu {
          @include media-max(1279px) {
            display: block;
          }
          display: none;
        }
        .icon {
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }
  }
  .main-cont {
    @include media-max(1279px) {
      margin-left: 0;
      padding-top: 4.75rem;
    }
    margin-left: 20rem;
    padding-top: 5.5rem;
    .cont {
      padding: clamp(3rem, 2vw, 3.125rem) 1.25rem clamp(4rem, 2vw, 7.5rem);
      .chips-wrap {
        padding-bottom: clamp(1.25rem, 2vw, 2.25rem);
        border-bottom: 1px solid $c-primary;
        .chips {
          @include mo360-767() {
            .p-btn-chips {
              flex: 1 0 auto;
            }
            max-width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
          }
        }
      }

      .cont-list {
        @include mo360-767() {
          grid-template-rows: minmax(12.5rem, auto);
        }
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(25rem, auto);
        align-items: center;
        .list-wrap {
          display: flex;
          flex-direction: column;
          .list {
            @include mo360-767() {
              flex-wrap: wrap;
              justify-content: center;
              padding: clamp(1.25rem, 2vw, 2.5rem) 0;
            }
            display: flex;
            gap: clamp(1.25rem, 2vw, 2.5rem);
            padding: clamp(1.25rem, 2vw, 2.5rem) 1.25rem;
            border-bottom: 1px solid $c-primary;

            .list-img {
              max-width: 100%;
              height: 20rem;
              max-height: 20rem;
              flex: 0 0 20rem;
              position: relative;
              overflow: hidden;
              > img {
                @include img-contain;
                background-color: rgba(0, 0, 0, 0.08);
              }
              .img-blur {
                position: absolute;
                filter: blur(10px);
                z-index: -1;

                > img {
                  @include img-cover;
                }
              }
            }
            .list-detail {
              max-width: 51.375rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .detail-top {
                h2.tit {
                  @include fs-34-42;
                  font-weight: 500;
                  @include mo360-767() {
                    @include fs-26-34;
                    flex-wrap: wrap;
                  }
                  display: flex;
                  padding-top: clamp(0.625rem, 2vw, 0.75rem);
                  font-weight: 700;
                  gap: 0.125rem;
                  em {
                    @include mo360-767() {
                      @include fs-26-34;
                    }
                  }
                }
              }
              .detail-mid {
                padding-top: clamp(0.75rem, 2vw, 1.5rem);
                padding-bottom: 2.5rem;
                flex: 1;
                p {
                  font-weight: 400;
                  @include fs-18-28;
                  @include mo360-767() {
                    @include fs-16-24;
                  }
                }
              }
              .detial-bttm {
                @include mo360-767() {
                  .p-btn {
                    background: $c-primary;
                    color: $c-gr-scalefff;
                    .icon {
                      filter: invert(1);
                    }
                  }
                }
                text-align: right;
              }
            }
          }
        }
        .list-nodata {
          @include mo360-767() {
            @include fs-16-24;
            grid-template-rows: 3.75rem auto;
          }
          @include fs-18-28;
          display: grid;
          grid-template-columns: minmax(3.75rem, auto);
          grid-template-rows: 5rem 1.875rem;
          justify-content: center;
          align-items: center;
          gap: clamp(0.625rem, 2vw, 1rem);
          font-weight: 400;
          color: $c-gr-scale400;
          .icon {
            width: 100%;
            height: 100%;
            background-position: center;
          }
        }
      }
    }
  }

  // about
  .cont-about {
    max-width: 44.25rem;
    margin: 0 auto;
    color: $c-primary;
    .about-top {
      @include mo360-767() {
        flex-wrap: wrap;
      }
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 0.75rem;
      padding-bottom: clamp(1.25rem, 2vw, 3.25rem);
      border-bottom: 1px solid $c-primary;
      h2.tit {
        @include mo360-767() {
          @include fs-52-60;
        }
        @include fs-64-72;
        font-weight: 400;
      }
    }
    .about-bttm {
      @include mo360-767() {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(26.25rem, 26.25rem) auto;
      }
      display: grid;
      grid-template-columns: minmax(20rem, 20rem) 1fr;
      gap: clamp(1.25rem, 2vw, 1.875rem);
      padding-top: clamp(1.25rem, 2vw, 3.5rem);
      .about-img {
        @include mo360-767() {
          justify-self: center;
        }
        > img {
          @include img-cover;
        }
      }
      .bttm-detail {
        display: flex;
        flex-direction: column;
        .detail-top {
          display: flex;
          flex-direction: column;
          gap: clamp(0.75rem, 2vw, 1rem);
          padding-bottom: clamp(1.25rem, 2vw, 1.5rem);
          border-bottom: 1px solid $c-primary;
          p {
            @include mo360-767() {
              @include fs-14-20;
            }
            @include fs-16-24;
            br {
              display: block;
              content: "";
              margin-bottom: 0.25rem;
            }
          }
          .top-tit {
            @include mo360-767() {
              @include fs-18-28;
            }
            @include fs-24-32;
          }
          em {
            @include mo360-767() {
              @include fs-20-28;
            }
            @include fs-28-36;
            padding-bottom: 0.125rem;
          }
        }
        .detail-bttm {
          @include mo360-767() {
            button {
              background: $c-primary;
              color: $c-gr-scalefff;
              .icon {
                filter: invert(1);
              }
            }
          }
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          gap: 2.5rem;
          address {
            padding: 0 clamp(1rem, 2vw, 1.25rem);
            background: $c-gr-scale50;
            .about-info {
              @include mo360-767() {
                @include fs-14-20;
              }
              @include fs-16-24;
              position: relative;
              padding: 0.625rem 0 0.625rem clamp(1.75rem, 2vw, 2rem);
              text-decoration: underline;
              text-decoration-color: $c-gr-scale600;
              color: $c-gr-scale600;
              &::before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                content: "";
                display: inline-block;
                width: clamp(1.125rem, 2vw, 1.25rem);
                height: clamp(1.125rem, 2vw, 1.25rem);
                filter: grayscale(100%) brightness(0.6);
              }
              &.email {
                &::before {
                  @include icon-bg(icon-w-mail);
                }
              }
              &.link {
                &::before {
                  @include icon-bg(icon-link);
                  filter: grayscale(100%) brightness(8.6);
                }
              }
            }
          }
          button {
            align-self: flex-end;
          }
        }
      }
    }
  }
}

// modal custom
.modal-overlay {
  .modal-window {
    &.contact {
      min-width: 20rem;
      max-width: 30rem;
      padding: clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 2vw, 2rem)
        clamp(1.5rem, 2vw, 2rem) clamp(1rem, 2vw, 1.5rem);
      .window-top {
        .close-area {
          @include mo360-767() {
            width: 1.75rem;
            height: 1.75rem;
          }
          width: 2.125rem;
          height: 2.125rem;
          > .icon {
            width: 100%;
            height: 100%;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        .input-wrap {
          padding-bottom: 1.25rem;
        }
        button {
          margin-top: clamp(0.25rem, 2vw, 0.75rem);
        }
      }
    }
    &.search {
      @include mo360-767() {
        .tit {
          display: none;
        }
      }
      min-width: 20rem;
      max-width: 77.5rem;
      padding: 0 clamp(1.25rem, 2vw, 2.5rem) 1.375rem;
      .window-content {
        .content-search {
          display: flex;
          flex-direction: column;
          align-items: center;
          .chips-wrap {
            padding: clamp(1.25rem, 2vw, 2.5rem) 0;
            flex-wrap: nowrap;
            gap: 2.5rem;
          }
        }
      }
    }
  }
}
