@charset "utf-8";
//-------------------------------------------------------------------
//	파일이름 : Index
//  분류순서 : Commons, Components, Contents
//-------------------------------------------------------------------
// @Commons
@import "./comm.base";
@import "./comm.variables";
@import "./cont.common";

.main {
  .side {
    @include media-max(1279px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 20rem;
    max-width: 20rem;
    height: calc(100vh - 2.5rem);
    margin: 1.25rem 0;
    padding: 1.25rem;
    border-right: 1px solid $c-primary;
    .side-cont {
      flex: 1;
    }
  }
  header {
    @include media-max(1279px) {
      @include d-flex-between-center;
      width: 100%;
      height: 4.75rem;
    }
    @include d-flex-end-center;
    position: fixed;
    right: 0;
    width: calc(100% - 20rem);
    height: 5.5rem;
    padding: 0 1.25rem;
    background: $c-gr-scalefff;
    z-index: 10;
    &.scrolled {
      padding: 0;
      .header-inner {
        margin: 0 1.25rem;
        border-bottom-color: $c-primary;
      }
    }
    .header-inner {
      @include media-max(1279px) {
        justify-content: space-between;
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid transparent;
    }
    .logo {
      @include media-max(1279px) {
        display: block;
      }
      display: none;
    }
    .gnb-wrap {
      @include media-max(1279px) {
        align-items: none;
        align-self: auto;
      }
      position: relative;
      display: flex;
      gap: 1.5rem;
      align-items: flex-start;
      align-self: flex-end;
      nav {
        @include media-max(1279px) {
          display: none;
        }
        ul.menu {
          @include media-max(1279px) {
            display: none;
          }
          display: flex;
          gap: 1.5rem;
          height: 100%;
          > li {
            display: grid;
            padding-bottom: 1.25rem;
            a.menu-tit {
              // align-self: flex-end;
              @include fs-18-28;
              font-family: Wanted Sans;
              font-weight: 700;
              color: #ccc;
              &:hover {
                color: #111;
              }
            }
            &:first-child {
              a.menu-tit {
                color: #111;
                text-decoration: underline;
                text-underline-position: under;
              }
            }
            &:hover {
              ul.menu-sub {
                display: block;
              }
            }

            ul.menu-sub {
              display: none;
              position: absolute;
              right: 0;
              top: 100%;
              width: 17.5rem;
              min-width: 17.5rem;
              max-width: 17.5rem;
              border: 1px solid #111;
              background: #fff;
              > li {
                a {
                  display: inline-block;
                  width: 100%;
                }
                .sub-tit {
                  @include fs-16-24;
                  display: inline-block;
                  position: relative;
                  width: 100%;
                  padding: 0.75rem 1.25rem;
                  font-weight: 700;
                  color: #333;
                  cursor: pointer;
                  &::after {
                    content: "";
                    position: absolute;
                    right: 1.25rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    @include icon-bg(icon-passive);
                  }
                }
                .sub-menu {
                  display: none;
                  padding: 0.375rem 1.25rem;
                  background: #f5f5f5;
                  > li {
                    @include fs-14-20;
                    font-weight: 400;
                    color: #333;
                    padding: 0.625rem 0;
                    background: #f5f5f5;
                  }
                }
                &.active {
                  .sub-tit {
                    &::after {
                      @include icon-bg(icon-active);
                    }
                  }
                  .sub-menu {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
      .gnb {
        display: flex;
        align-items: center;
        gap: 1rem;
        .menu {
          @include media-max(1279px) {
            display: block;
          }
          display: none;
        }
      }
    }
  }
  .main-cont {
    @include media-max(1279px) {
      margin-left: 0;
      padding-top: 4.75rem;
    }
    margin-left: 20rem;
    padding-top: 5.5rem;
    .cont {
      padding: clamp(3rem, 2vw, 3.125rem) 1.25rem 0;
      .chips-wrap {
        padding-bottom: clamp(1.25rem, 2vw, 2.25rem);
        border-bottom: 1px solid $c-primary;
      }

      .list {
        @include mo360-760() {
          flex-wrap: wrap;
          padding: clamp(1.25rem, 2vw, 2.5rem) 0;
        }
        display: flex;
        gap: clamp(1.25rem, 2vw, 2.5rem);
        padding: clamp(1.25rem, 2vw, 2.5rem) 1.25rem;
        border-bottom: 1px solid $c-primary;

        .list-img {
          max-width: 100%;
          height: 20rem;
          max-height: 20rem;
          flex: 0 0 20rem;
          position: relative;
          overflow: hidden;
          > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          .img-blur {
            position: absolute;
            filter: blur(10px);
            z-index: -1;

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .list-detail {
          max-width: 51.375rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .detail-top {
            .tit {
              padding-top: clamp(0.625rem, 2vw, 0.75rem);
              font-weight: 700;
              em {
                @include mo360-760(I) {
                  @include fs-26-34;
                }
                @include fs-34-42;
                font-weight: 500;
              }
            }
          }
          .detail-mid {
            padding-top: clamp(0.75rem, 2vw, 1.5rem);
            flex: 1;
            p {
              font-weight: 400;
              @include fs-18-28;
              @include mo360-760() {
                @include fs-16-24;
              }
            }
          }
        }
      }
    }
  }
}

// modal custom
.modal-overlay {
  .modal-window {
    &.contact {
      min-width: 20rem;
      max-width: 30rem;
      padding: clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 2vw, 2rem)
        clamp(1.5rem, 2vw, 2rem) clamp(1rem, 2vw, 1.5rem);
      form {
        display: flex;
        flex-direction: column;
        .input-wrap {
          padding-bottom: 1.25rem;
        }
        button {
          margin-top: clamp(0.25rem, 2vw, 0.75rem);
        }
      }
    }
    &.search {
      @include mo360-760() {
        .tit {
          display: none;
        }
      }
      min-width: 20rem;
      max-width: 77.5rem;
      padding: 0 clamp(1.25rem, 2vw, 2.5rem) 1.375rem;
      .window-content {
        .content-search {
          display: flex;
          flex-direction: column;
          align-items: center;
          .chips-wrap {
            padding: clamp(1.25rem, 2vw, 2.5rem) 0;
            flex-wrap: nowrap;
            gap: 2.5rem;
          }
        }
      }
    }
  }
}
