@charset "UTF-8";
/*-------------------------------------------------------------------
    파일이름 : 초기화
    속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @웹폰트
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*-------------------------------------------------------------------
    @태그
-------------------------------------------------------------------*/
html, body {
  height: 100%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

::before, ::after,
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address, article, aside,
canvas, details, figure, figcaption, main, footer, header, menu, nav, section,
button, select, textarea, input, form, fieldset, legend, label, a, span, strong, em, address, pre, code, dfn, small, i, b {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  -webkit-print-color-adjust: exact;
}

main, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {
  display: block;
}

body {
  font-family: "Pretendard-Regular", "WantedSansVariable", "sans-serif";
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  word-break: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

[hidden] {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

fieldset, iframe {
  width: 100%;
}

img, a, frame, iframe, fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  height: 1px;
  overflow: hidden;
}

legend {
  position: fixed;
  overflow: hidden;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

button {
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0px;
  padding: 0px;
}

input[type=checkbox], input[type=radio], select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

textarea {
  resize: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
}

.dv-android [tabindex="0"]:focus,
.dv-android a:focus,
.dv-android button:focus,
.dv-android input:focus,
.dv-android textarea:focus,
.dv-android select:focus {
  outline: 0;
}

.dv-ios [tabindex="0"],
.dv-ios a,
.dv-ios button,
.dv-ios input,
.dv-ios textarea,
.dv-ios select {
  -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------------------------------
	파일이름 : Variables
	분류순서 : @Colors, @Sizes

	파일이름 : Nixin
	분류순서 : @Texts, @Responsives

	변수규칙 : 반복-구분-단위 (상세규칙은 작업자가 판단)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@Color (Brand, State, Items, Grayscale)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@Size (System, Layout, Components)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@Text (Fontset,
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@Font reponsive | html font-size: 16px인 전제하
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@Img reponsive | img ratio
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@Responsive
	- Device : Basic (Extra Large ~ Mini)
	- PC : 1920 ~ 1280 (1920 ~ 1601 / 1600 ~ 1280)
	- TA : 1279 ~  768 (1279 ~ 1025 / 1024 ~  768)
	- MO :  767 ~  320 ( 767 ~  421 /  420 ~  320)
	- 기준디바이스 : iPad Mini (768/1024), iPadPro (1024/1366)
-------------------------------------------------------------------*/
/* iPhone X 이상의 모바일 기기에 대한 Safe Area 고려 */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* 여기에 해당하는 CSS 추가 */
  body {
    padding-top: constant(safe-area-inset-top); /* iOS 11.2+ */
    padding-top: env(safe-area-inset-top); /* iOS 11.2+ */
    padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.2+ */
    padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2+ */
  }
}
/*-------------------------------------------------------------------
    @Default
/*-----------------------------------------------------------------*/
.radio,
.switch,
.checkbox {
  position: relative;
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
}
.radio > input,
.switch > input,
.checkbox > input {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0 !important;
  outline: none;
}
.radio > label,
.switch > label,
.checkbox > label {
  position: relative;
  display: block;
}
.radio > label::before,
.radio > label::after,
.switch > label::before,
.switch > label::after,
.checkbox > label::before,
.checkbox > label::after {
  content: "";
  display: block;
  position: absolute;
}

/*-------------------------------------------------------------------
    @모달
/*-----------------------------------------------------------------*/
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-window {
  min-width: 20rem;
  max-width: 35rem;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0784313725);
}

/*-------------------------------------------------------------------
    @토글 메뉴
/*-----------------------------------------------------------------*/
.menus ul li ul.menu-inner {
  display: none;
}
.menus ul li.active ul.menu-inner {
  display: block;
}

/*-------------------------------------------------------------------
    @name
/*-----------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Icon
/*-----------------------------------------------------------------*/
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.icon.arrow-top {
  background: url("/assets/img/icon-arrowtop.png");
  background-size: cover;
}
.icon.arrow-right {
  background: url("/assets/img/icon-arrowright.png");
  background-size: cover;
}
.icon.arrow-right-w {
  background: url("/assets/img/icon-w-arrowright.png");
  background-size: cover;
}
.icon.check {
  background: url("/assets/img/icon-check.png");
  background-size: cover;
}
.icon.search {
  background: url("/assets/img/icon-search.png");
  background-size: cover;
}
.icon.cross {
  background: url("/assets/img/icon-cross.png");
  background-size: cover;
}
.icon.menu {
  background: url("/assets/img/icon-menu.png");
  background-size: cover;
}
.icon.mail-w {
  background: url("/assets/img/icon-w-mail.png");
  background-size: cover;
}
.icon.passive {
  background: url("/assets/img/icon-passive.png");
  background-size: cover;
}
.icon.active {
  background: url("/assets/img/icon-active.png");
  background-size: cover;
}
.icon.download {
  background: url("/assets/img/icon-download.png");
  background-size: cover;
}
.icon.link {
  background: url("/assets/img/icon-link.png");
  background-size: cover;
}
.icon.arrow-double-left {
  background: url("/assets/img/icon-arrowDoubleLeft.png");
  background-size: cover;
}
.icon.arrow-double-right {
  background: url("/assets/img/icon-arrowDoubleRight.png");
  background-size: cover;
}
.icon.prev {
  background: url("/assets/img/icon-prev.png");
  background-size: cover;
}
.icon.next {
  background: url("/assets/img/icon-next.png");
  background-size: cover;
}

/*-------------------------------------------------------------------
    @common - Button | border(default)/fill/has icon
/*-----------------------------------------------------------------*/
.p-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: auto;
  padding: clamp(0.75rem, 2vw, 0.875rem) 1.25rem;
  border: 1px solid #111;
  box-sizing: border-box;
  font-family: "Wanted Sans";
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 700;
  color: #111;
}
.p-btn:hover {
  background: #f5f5f5;
}
.p-btn:disabled {
  border-color: #bbb;
  color: #bbb;
}
.p-btn:disabled:hover {
  background: none;
  color: #bbb;
}
.p-btn:disabled .icon {
  filter: invert(75%);
}
.p-btn.fill {
  border: none;
  background: #111;
  color: #fff;
}
.p-btn.fill:hover {
  background: #444;
}
.p-btn.fill:disabled {
  background: #bbb;
  color: #fff;
}
.p-btn.has-icon:hover {
  background: #111;
  color: #fff;
}
.p-btn.has-icon:hover .icon {
  filter: invert(100%);
}
.p-btn.has-icon:disabled {
  border-color: #bbb;
  color: #bbb;
}
.p-btn.has-icon:disabled:hover {
  background: none;
  color: #bbb;
}
.p-btn.has-icon:disabled .icon {
  filter: invert(75%);
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.p-btn-cir {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #111;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(1px);
}
.p-btn-cir.top {
  background: #fff;
}
.p-btn-cir.mail {
  background: rgba(17, 17, 17, 0.6);
}

.p-btn-chips {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 0.5rem clamp(0.875rem, 2vw, 1rem);
  background: #f5f5f5;
  border-radius: 6.25rem;
  border: 1px solid transparent;
  color: #111;
}
.p-btn-chips:hover {
  border-color: #111;
  box-sizing: border-box;
}

/*-------------------------------------------------------------------
    @Tag
/*-----------------------------------------------------------------*/
.tag {
  padding: 0.1875rem 0.5rem;
  display: inline-block;
  border-radius: 2.5rem;
  background: #fff;
  color: #111;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: Pretendard;
  font-weight: 500;
  letter-spacing: -0.28px;
  text-align: center;
}
.tag.year {
  border-radius: 0;
  background: #111;
  color: #fff;
}
.tag.color0 {
  background-color: #e3f5e7;
}
.tag.color1 {
  background-color: #f9e4cb;
}
.tag.color2 {
  background-color: #e2e6fd;
}
.tag.color3 {
  background-color: #f9e9fb;
}
.tag.color4 {
  background-color: #e5fad0;
}
.tag.color5 {
  background-color: #f2e7fe;
}
.tag.color6 {
  background-color: #d6f5f3;
}
.tag.color7 {
  background-color: #fcf2d1;
}
.tag.color8 {
  background-color: #f1f8c6;
}
.tag.color9 {
  background-color: #dfecf6;
}
.tag.color10 {
  background-color: #ffe5e5;
}
.tag.color11 {
  background-color: #e6e9f1;
}

/*-------------------------------------------------------------------
    @Form | input, checkbox, radio ...
/*-----------------------------------------------------------------*/
label {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
label.essential {
  position: relative;
  padding-right: 0.625rem;
}
label.essential::after {
  position: absolute;
  right: 0;
  content: "*";
  display: inline-block;
  color: #fb3b3b;
}

input[type=text] {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #bbb;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #111;
  outline: none;
}
input[type=text]::placeholder {
  color: #999;
}
input[type=text]:focus {
  border-bottom-color: #111;
}
input[type=text]:disabled {
  background: #fff;
  border-bottom-color: #dedede;
  color: #ccc;
}

.input-search {
  display: grid;
  padding: 0.875rem 0;
  grid-template-columns: 1fr minmax(28px, 38px);
  grid-template-rows: minmax(28px, 38px);
  align-items: center;
  border-bottom: 4px solid #111;
  overflow: hidden;
}
.input-search input[type=text] {
  border-bottom: none;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  letter-spacing: -0.02em;
}
.input-search .input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon-svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.icon-svg.search {
  background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.4256 25.1864C29.0929 23.0415 30.0858 20.3462 30.0858 17.4191C30.0858 10.4235 24.4147 4.75244 17.4191 4.75244C10.4235 4.75244 4.75244 10.4235 4.75244 17.4191C4.75244 24.4147 10.4235 30.0858 17.4191 30.0858C20.3462 30.0858 23.0415 29.0929 25.1864 27.4256L31.0083 33.2475L33.2475 31.0083L27.4256 25.1864ZM26.9191 17.4191C26.9191 22.6658 22.6658 26.9191 17.4191 26.9191C12.1724 26.9191 7.91911 22.6658 7.91911 17.4191C7.91911 12.1724 12.1724 7.91911 17.4191 7.91911C22.6658 7.91911 26.9191 12.1724 26.9191 17.4191Z' fill='%23111111'/%3E%3C/svg%3E%0A");
}

h2.tit {
  font-size: 2.125rem;
  line-height: 2.625rem;
  font-weight: 700;
}
h2.tit .year {
  display: inline-block;
  font-weight: 500;
}
h2.tit em {
  font-family: Wanted Sans;
}

.list {
  display: flex;
  gap: clamp(20px, 2vw, 40px);
}
.list h2.tit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}
.list .list-img {
  flex: 0 0 320px;
  background: #eee;
}
.list .list-info {
  max-width: 822px;
}
.list .list-info .info-top .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-bottom: clamp(10px, 2vw, 12px);
}
.list .list-info .info-middle p {
  padding-top: clamp(12px, 2vw, 24px);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list .list-info .info-bottom {
  padding-top: clamp(40px, 2vw, 80px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 20px;
  background: #fff;
}
header .gnb-wrap {
  position: relative;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  align-self: flex-end;
}
header .gnb-wrap nav ul.menu {
  display: flex;
  gap: 24px;
  height: 100%;
}
header .gnb-wrap nav ul.menu > li {
  display: grid;
  padding-bottom: 20px;
}
header .gnb-wrap nav ul.menu > li a.menu-tit {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: Wanted Sans;
  font-weight: 700;
  color: #ccc;
}
header .gnb-wrap nav ul.menu > li a.menu-tit:hover {
  color: #111;
}
header .gnb-wrap nav ul.menu > li:first-child a.menu-tit {
  color: #111;
  text-decoration: underline;
  text-underline-position: under;
}
header .gnb-wrap nav ul.menu > li:hover ul.menu-sub {
  display: block;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub {
  display: none;
  position: absolute;
  right: -20px;
  top: 100%;
  width: 17.5rem;
  min-width: 17.5rem;
  max-width: 17.5rem;
  border: 1px solid #111;
  background: #fff;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub > li a {
  display: inline-block;
  width: 100%;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub > li .sub-tit {
  font-size: 1rem;
  line-height: 1.5rem;
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub > li .sub-tit::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 1.5rem;
  height: 1.5rem;
  background: url("/assets/img/icon-passive.png");
  background-size: cover;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub > li .sub-menu {
  display: none;
  padding: 6px 20px;
  background: #f5f5f5;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub > li .sub-menu > li {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #333;
  padding: 10px 0;
  background: #f5f5f5;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub > li.active .sub-tit::after {
  background: url("/assets/img/icon-active.png");
  background-size: cover;
}
header .gnb-wrap nav ul.menu > li ul.menu-sub > li.active .sub-menu {
  display: block;
}
header .gnb-wrap .gnb {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cont {
  display: flex;
}
.cont .cont-side {
  height: 100vh;
  padding: 2.5rem 0;
  flex: 0 0 20rem;
  background: #fff;
}
.cont .cont-side .side-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1.25rem;
  border-right: 1px solid #111;
}
.cont .cont-side .side-wrap .side-body {
  flex: 1;
}
.cont .cont-side .side-wrap .side-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cont .cont-side .side-wrap .side-bottom button {
  width: 100%;
}
.cont .cont-side .side-wrap p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 2.5rem;
  padding: 2.25rem 0 0;
  border-top: 1px solid #111;
  font-weight: 600;
  text-decoration: underline;
  text-underline-position: under;
  letter-spacing: -0.02em;
}
.cont .cont-inner {
  display: flex;
  flex-direction: column;
  background: #ccc;
}
.cont .cont-inner .inner-detail {
  max-height: calc(100vh - 88px);
  flex: 1 1 auto;
  overflow-y: auto;
  background: #ddd;
}
.cont .cont-inner .inner-detail .detail-top {
  display: grid;
  grid-template-columns: 20rem 1fr;
}/*# sourceMappingURL=ui.styles.css.map */